<section class="advantages">
  <div class="container advantages-container">
    <h2 class="advantages-header">Advantages</h2>
    <div class="advantages-text-sidebar">
      <ol class="advantages-list">
        <li class="advantages-list-item">
          <p class="advantages-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-text">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water
          </p>
        </li>
        <li class="advantages-list-item">
          <p class="advantages-text">
            Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="advantages-image-sidebar">
      <picture>
        <source
          srcset="/img/advantages/desktop/advantages-1440-1x.png 1x, /img/advantages/desktop/advantages-1440-2x.png 2x"
          media="(min-width: 1440px)">
        <source
          srcset="/img/advantages/desktop/advantages-1280-1x.png 1x, /img/advantages/desktop/advantages-1280-2x.png 2x"
          media="(min-width: 1280px)">
        <source
          srcset="/img/advantages/tablet/advantages-tablet-1x.png 1x, /img/advantages/tablet/advantages-tablet-2x.png 2x"
          media="(min-width: 768px)">
        <source
          srcset="/img/advantages/mobile/advantages-mobile-1x.png 1x, /img/advantages/mobile/advantages-mobile-2x.png 2x"
          media="(max-width: 767px)">
        <img class="advantages-image" src="/img/advantages/desktop/advantages-tablet-1x.png"
          alt="Yacht Stern" width="704" height="424" />
      </picture>
    </div>
  </div>
</section>