<footer class="footer">
    <div class="footer-container">
        <div class="footer-wrapper">
            <p class="footer-yachtjet">yachtjet</p>
            <ul class="footer-nav-list">
                <li class="footer-nav-item"><a href="#about">About</a></li>
                <li class="footer-nav-item"><a href="#yachts">Yachts</a></li>
                <li class="footer-nav-item"><a href="#reviews">Reviews</a></li>
            </ul>
        </div>
        <ul class="footer-socials">
            <li class="footer-socials-item">
                <svg class="footer-socials-svg" width="24" height="24">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="footer-socials-item">
                <svg class="footer-socials-svg" width="24" height="24">
                    <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
            </li>
            <li class="footer-socials-item">
                <svg class="footer-socials-svg" width="24" height="24">
                    <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
            </li>
        </ul>
        <p class="footer-quote">
            No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </p>
        <div class="footer-bottom-text">
            <p class="footer-text-item">2023. Yacht Adventures</p>
            <a href="" class="footer-text-item">Privacy Policy</a>
        </div>
    </div>
</footer>
