<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="index.html" class="header-logo">yachtjet</a>
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="index.html">About</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="index.html">Yachts</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="index.html">Reviews</a>
        </li>
      </ul>
      <ul class="social-list">
        <li class="social-item">
          <a class="social-link" href="index.html"
            ><svg class="social-icons" width="24" height="24">
              <use href="/img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a class="social-link" href="index.html"
            ><svg class="social-icons" width="24" height="24">
              <use href="/img/sprite.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a class="social-link" href="index.html"
            ><svg class="social-icons" width="24" height="24">
              <use href="/img/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <button type="button" class="open-menu-btn">
        <svg class="icon-open-menu" width="28" height="28">
          <use href=""></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
