<section class="section">
  <div class="container">
    <h2 class="yachts">Choose your dream yacht and sail away into the sunset</h2>
    <ul class="yachts-list">
      <li class="yachts-list-item">
        <img src="./img/our-yachts/mobil/our-yachts-1-1x.png" alt="">
        <div class="yachts-item-container-top">
          <h3 class="yachts-top-title">Arrow</h3>
          <p class="yachts-top-tex">LUXURY YAHTS</p>
        </div>
        <div class="yachts-item-container-bottom">
          <ul class="yachts-bottom-characteristics-list">
            <li class="yachts-characteristics-item">
              <p>LENGTH</p>
            </li>
            <li class="yachts-characteristics-item">
              <p>BUILDER</p>
            </li>
            <li class="yachts-characteristics-item">
              <p>BUILT</p>
            </li>
            <li class="yachts-characteristics-item">
              <p>GUESTS</p>
            </li>
            <li class="yachts-characteristics-item">
              <p>PRICE</p>
            </li>
          </ul>
          <ul class="yachts-bottom-value-list">
            <li class="yachts-value-item">
              <p>48m(155ft)</p>
            </li>
            <li class="yachts-value-item">
              <p>Admiral</p>
            </li>
            <li class="yachts-value-item">
              <p>2021</p>
            </li>
            <li class="yachts-value-item">
              <p>11 in 5 cabins</p>
            </li>
            <li class="yachts-value-item">
              <p>€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="yachts-list-item">
        <img src="" alt="">
        <div class="yachts-item-container-top"></div>
        <div class="yachts-item-container-bottom">
          <ul class="yachts-bottom-characteristics-list">
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
          </ul>
          <ul class="yachts-bottom-value-list">
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
          </ul>
        </div>
      </li>
      <li class="yachts-list-item">
        <img src="" alt="">
        <div class="yachts-item-container-top"></div>
        <div class="yachts-item-container-bottom">
          <ul class="yachts-bottom-characteristics-list">
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
            <li class="yachts-characteristics-item">
              <p></p>
            </li>
          </ul>
          <ul class="yachts-bottom-value-list">
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
            <li class="yachts-value-item">
              <p></p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
