<section class="section">
  <div class="container">
    <h2 class="yachts-title" id="yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper yachts-list">
        <li class="yachts-list-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/our-yachts/desktop-webp/our-yachts-1-1x.webp 1x,
                ./img/our-yachts/desktop-webp/our-yachts-1-2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/desktop/our-yachts-1-1x.png 1x,
                ./img/our-yachts/desktop/our-yachts-1-2x.png 2x
              "
              media="(min-width: 1440px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/desktop-small-webp/our-yachts-1-1x.webp 1x,
                ./img/our-yachts/desktop-small-webp/our-yachts-1-2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/desktop-small/our-yachts-1-1x.png 1x,
                ./img/our-yachts/desktop-small/our-yachts-1-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/tablet-webp/our-yachts-1-1x.webp 1x,
                ./img/our-yachts/tablet-webp/our-yachts-1-2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/tablet/our-yachts-1-1x.png 1x,
                ./img/our-yachts/tablet/our-yachts-1-2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/mobil-webp/our-yachts-1-1x.webp 1x,
                ./img/our-yachts/mobil-webp/our-yachts-1-2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/mobil/our-yachts-1-1x.png 1x,
                ./img/our-yachts/mobil/our-yachts-1-2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <img
              src="./img/our-yachts/desktop/our-yachts-1-1x.png"
              alt="yachts"
              class="yachts-list-img"
            />
          </picture>
          <div class="yachts-item-container-top">
            <h3 class="yachts-top-title">Arrow</h3>
            <p class="yachts-top-tex">LUXURY YAHTS</p>
          </div>
          <div class="yachts-item-container-bottom current">
            <ul class="yachts-bottom-characteristics-list">
              <li class="yachts-characteristics-item">
                <p>LENGTH</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>BUILDER</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>BUILT</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>GUESTS</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>PRICE</p>
              </li>
            </ul>
            <ul class="yachts-bottom-value-list">
              <li class="yachts-value-item">
                <p>48m(155ft)</p>
              </li>
              <li class="yachts-value-item">
                <p>Admiral</p>
              </li>
              <li class="yachts-value-item">
                <p>2021</p>
              </li>
              <li class="yachts-value-item">
                <p>11 in 5 cabins</p>
              </li>
              <li class="yachts-value-item">
                <p>€33,500,000</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="yachts-list-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/our-yachts/desktop-webp/our-yachts-2-1x.webp 1x,
                ./img/our-yachts/desktop-webp/our-yachts-2-2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/desktop/our-yachts-2-1x.png 1x,
                ./img/our-yachts/desktop/our-yachts-2-2x.png 2x
              "
              media="(min-width: 1440px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/desktop-small-webp/our-yachts-2-1x.webp 1x,
                ./img/our-yachts/desktop-small-webp/our-yachts-2-2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/desktop-small/our-yachts-2-1x.png 1x,
                ./img/our-yachts/desktop-small/our-yachts-2-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/tablet-webp/our-yachts-2-1x.webp 1x,
                ./img/our-yachts/tablet-webp/our-yachts-2-2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/tablet/our-yachts-2-1x.png 1x,
                ./img/our-yachts/tablet/our-yachts-2-2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/mobil-webp/our-yachts-2-1x.webp 1x,
                ./img/our-yachts/mobil-webp/our-yachts-2-2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/mobil/our-yachts-2-1x.png 1x,
                ./img/our-yachts/mobil/our-yachts-2-2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <img
              src="./img/our-yachts/desktop/our-yachts-2-1x.png"
              alt="yachts"
              class="yachts-list-img"
            />
          </picture>
          <div class="yachts-item-container-top">
            <h3 class="yachts-top-title">BENETTI OASIS 40M BO122</h3>
            <p class="yachts-top-tex">LUXURY YAHTS</p>
          </div>
          <div class="yachts-item-container-bottom current">
            <ul class="yachts-bottom-characteristics-list">
              <li class="yachts-characteristics-item">
                <p>LENGTH</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>SHIPYARD</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>BUILT</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>GUESTS</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>PRICE</p>
              </li>
            </ul>
            <ul class="yachts-bottom-value-list">
              <li class="yachts-value-item">
                <p>41m (133ft)</p>
              </li>
              <li class="yachts-value-item">
                <p>Benetti</p>
              </li>
              <li class="yachts-value-item">
                <p>2025</p>
              </li>
              <li class="yachts-value-item">
                <p>10 in 5 cabins</p>
              </li>
              <li class="yachts-value-item">
                <p>€23,210,000</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="yachts-list-item swiper-slide">
          <picture>
            <source
              srcset="
                ./img/our-yachts/desktop-webp/our-yachts-3-1x.webp 1x,
                ./img/our-yachts/desktop-webp/our-yachts-3-2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/desktop/our-yachts-3-1x.png 1x,
                ./img/our-yachts/desktop/our-yachts-3-2x.png 2x
              "
              media="(min-width: 1440px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/desktop-small-webp/our-yachts-3-1x.webp 1x,
                ./img/our-yachts/desktop-small-webp/our-yachts-3-2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/desktop-small/our-yachts-3-1x.png 1x,
                ./img/our-yachts/desktop-small/our-yachts-3-2x.png 2x
              "
              media="(min-width: 1280px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/tablet-webp/our-yachts-3-1x.webp 1x,
                ./img/our-yachts/tablet-webp/our-yachts-3-2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/tablet/our-yachts-3-1x.png 1x,
                ./img/our-yachts/tablet/our-yachts-3-2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ./img/our-yachts/mobil-webp/our-yachts-3-1x.webp 1x,
                ./img/our-yachts/mobil-webp/our-yachts-3-2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-yachts/mobil/our-yachts-3-1x.png 1x,
                ./img/our-yachts/mobil/our-yachts-3-2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />
            <img
              src="./img/our-yachts/desktop/our-yachts-3-1x.png"
              alt="yachts"
              class="yachts-list-img"
            />
          </picture>
          <div class="yachts-item-container-top">
            <h3 class="yachts-top-title">BELLE ANNA</h3>
            <p class="yachts-top-tex">LUXURY YAHTS</p>
          </div>
          <div class="yachts-item-container-bottom current">
            <ul class="yachts-bottom-characteristics-list">
              <li class="yachts-characteristics-item">
                <p>LENGTH</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>SHIPYARD</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>BUILT</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>GUESTS</p>
              </li>
              <li class="yachts-characteristics-item">
                <p>PRICE</p>
              </li>
            </ul>
            <ul class="yachts-bottom-value-list">
              <li class="yachts-value-item">
                <p>50m(155ft)</p>
              </li>
              <li class="yachts-value-item">
                <p>ISA</p>
              </li>
              <li class="yachts-value-item">
                <p>2012</p>
              </li>
              <li class="yachts-value-item">
                <p>12 in 6 cabins</p>
              </li>
              <li class="yachts-value-item">
                <p>€21,000,000</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <a href="#rent-a-yacht" class="yachts-link">Yacht rental</a>
  </div>
</section>
