<section class="rent-yacht">
  <h2 class="rent-yacht-title">Rent a yacht now</h2>
  <form class="rent-yacht-form" action="">
    <label class="rent-yacht-lable" for="user-name"
      ><input
        class="rent-yacht-input"
        type="text"
        name="user-name"
        id="user-name"
        placeholder="Full Name"
        required
      />
    </label>
    <label class="rent-yacht-lable" for="user-email"
      ><input
        class="rent-yacht-input"
        type="email"
        name="user-email"
        id="user-email"
        placeholder="Email"
        required
      />
    </label>
    <label class="rent-yacht-lable" for="user-tel"
      ><input
        class="rent-yacht-input"
        type="tel"
        name="user-tel"
        id="user-tel"
        placeholder="Phone number"
        required
      />
    </label>
    <label class="rent-yacht-lable" for="user-comment">
      <textarea
        class="rent-yacht-textarea"
        name="user-comment"
        id="user-comment"
        placeholder="Comment"
      ></textarea>
    </label>
    <button class="rent-yacht-button" type="submit">Send</button>
  </form>
  <img
    src="../img/rent-a-yacht/rent-yacht-mob-1x.jpg"
    alt="photo of a beautiful yacht"
  />
</section>
