<section class="section">
  <div class="container flex-container">
    <div class="container-section">
      <h2 class="rent-yacht-title" id="rent-a-yacht">Rent a yacht now</h2>
      <form class="rent-yacht-form" action="">
        <label class="rent-yacht-lable" for="user-name"
          ><input
            class="rent-yacht-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Full Name"
            required
            pattern="^[A-Za-z ]+$"
          />
        </label>
        <label class="rent-yacht-lable" for="user-email"
          ><input
            class="rent-yacht-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />
        </label>
        <label class="rent-yacht-lable" for="user-tel"
          ><input
            class="rent-yacht-input"
            type="tel"
            name="user-tel"
            id="user-tel"
            placeholder="Phone number"
            required
            pattern="^\+?\d{10,12}$"
          />
        </label>
        <label class="rent-yacht-lable label-bottom" for="user-comment">
          <textarea
            type="submit"
            class="rent-yacht-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            pattern=".{10,}"
          ></textarea>
        </label>
        <button class="rent-yacht-button" type="submit">Send</button>
      </form>
    </div>
    <picture class="rent-yacht-picture">
      <source
        srcset="
          /img/rent-a-yacht/rent-a-yacht-desc-1440-1x.jpg 1x,
          /img/rent-a-yacht/rent-a-yacht-desc-1440-2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-a-yacht-desc-1280-1x.jpg 1x,
          /img/rent-a-yacht/rent-a-yacht-desc-1280-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-a-yacht-tab-1x.jpg 1x,
          /img/rent-a-yacht/rent-a-yacht-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/rent-a-yacht/rent-yacht-mob-1x.jpg 1x,
          /img/rent-a-yacht/rent-yacht-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="rent-a-yacht-photo"
        src="/img/rent-a-yacht/rent-yacht-desc-1440-1x"
        alt="photo of a beautiful yacht"
        width="335"
        height="412"
      />
    </picture>
  </div>
</section>
