<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">YachtJet take pride in providing the<br>
       best possible service and experience<br>
        to our customers</h2>
    <p class="reviews-paragraph">Our customers have enjoyed unforgettable moments on our yacht. Don't just take our<br>
     word for it - read on to find out what they have to say about their journey with us.</p>
     <ul class="reviews-list">
        <li class="reviews-list-item"></li>
        <li class="reviews-list-item"></li>
        <li class="reviews-list-item"></li>
     </ul>
  </div>
</section>
