<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the<br />
      best possible service and experience<br />
      to our customers
    </h2>
    <p class="reviews-paragraph">
      Our customers have enjoyed unforgettable moments on our yacht. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <div class="reviews-description swiper-container">
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-list-item swiper-slide">
          <img
            srcset="/img/reviews/john-1x.png 1x, /img/reviews/john-2x.png 2x"
            src="/img/reviews/john.png"
            width="56"
            height="56"
            class="list-img"
          />
          <h3 class="list-title">John Wax</h3>
          <p class="list-paragraph">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </li>
        <li class="reviews-list-item swiper-slide">
          <img
            srcset="
              /img/reviews/victoria-1x.png 1x,
              /img/reviews/victoria-2x.png 2x
            "
            src="/img/reviews/victoria.png"
            width="56"
            height="56"
            class="list-img"
          />
          <h3 class="list-title">Victoria Romashenko</h3>
          <p class="list-paragraph">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </li>
        <li class="reviews-list-item swiper-slide">
          <img
            srcset="/img/reviews/ihor-1x.png 1x, /img/reviews/ihor-2x.png 2x"
            src="/img/reviews/ihor.png"
            width="56"
            height="56"
            class="list-img"
          />
          <h3 class="list-title">Ihor Trachuk</h3>
          <p class="list-paragraph">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
