@media screen and (min-width: 1280px) {
  .advantages-container {
    display: flex;
    gap: 32px;
  }
}

.advantages-text-sidebar {
  border-radius: 24px;
  background: rgb(27, 65, 75);
  padding: 148px 20px 80px 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .advantages-text-sidebar {
    padding: 158px 32px 90px 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-text-sidebar {
    max-width: 716px;
    padding: 158px 50px 90px 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-text-sidebar {
    max-width: 768px;
  }
}

.advantages-list {
  counter-reset: list;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 114px 32px;
  }
}

@media screen and (min-width: 1280px) {
    .advantages-list {
        gap: 114px 44px;
      }
}

.advantages-list-item {
    position: relative;
}

.advantages-list-item::before {
  content: '0' counter(list);
  counter-increment: list;
  position: absolute;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 38px;
  left: 0;
  top: -66px;
}

@media screen and (min-width: 768px) {
    .advantages-list-item::before {
      font-size: 32px;
      top: -70px;
    }
  }

@media screen and (min-width: 768px) {
  .advantages-list-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .advantages-list-item {
    width: calc((100% - 44px) / 2);
  }
}

.advantages-list-item:not(:last-child) {
  margin-bottom: 104px;
}

@media screen and (min-width: 768px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages-text {
  color: rgb(251, 251, 251);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.8;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .advantages-text {
    font-size: 13px;
    line-height: 1.15;
  }
}

.advantages-text::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  top: -20px;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.1);
}

@media screen and (min-width: 768px) {
  .advantages-text::before {
    width: 100%;
  }
}

.advantages-image {
  border-radius: 24px;
}
