body {
  font-family: 'Inter', sans-serif;
  color: #fbfbfb;
  background-color: #0e1823;
  width: 100%;
}

.section {
  padding: 80px 0;
}

.container {
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 50px;
    max-width: 1180px;
  }
}

@media screen and (min-width: 1440px) {
}
