.hero-section {
  background-image: url(/img/hero-bg/yacht-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 260px 0 302px;
}

@media screen and (min-device-pixel-ration: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/img/hero-bg/yacht-bg-mob@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: inherit;
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 38px;
}

.hero-btn {
  background: #1b414b;
  border-radius: 15px;
  padding: 14px 32px;
  min-width: 141px;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: block;
  border: none;
  margin: 0 auto;
  /* transition: background-color 700ms cubic-bezier(0.4, 0, 0.2, 1),
    color 700ms cubic-bezier(0.4, 0, 0.2, 1); */

  transition: background-color 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86),
    color 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.hero-btn:active {
  background: #fbfbfb;
  color: #1b414b;
}

/**---------TABLET--------**/

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(/img/hero-bg/yacht-bg-tab.jpg);
    padding: 280px 0 282px;
    height: 962px;
  }

  @media screen and (min-device-pixel-ration: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero-bg/yacht-bg-tab@2x.jpg);
    }
  }

  .hero-title {
    font-size: 70px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.4;
    max-width: 597px;
    margin-bottom: 48px;
  }

  .hero-btn {
    padding: 16px 40px;
    min-width: 179px;
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
  }
}
/**------------------------**/
/**---------DESKTOP(1280px)--------**/

@media screen and (min-width: 1280px) {
  .hero-section {
    background-image: url(/img/hero-bg/yacht-bg-desktop.jpg);
    padding: 235px 0 215px;
    height: 800px;
  }

  @media screen and (min-device-pixel-ration: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero-bg/yacht-bg-desktop@2x.jpg);
    }
  }

  .hero-title {
    font-size: 80px;
    max-width: 1001px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.4;
  }

  .hero-btn:hover {
    background: #fbfbfb;
    color: #1b414b;
  }
}

/**------------------------**/
/**---------DESKTOP(1440px)--------**/
@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(/img/hero-bg/yacht-bg-bigdesktop.jpg);
    padding-bottom: 210px;
    height: 795px;
  }

  @media screen and (min-device-pixel-ration: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-section {
      background-image: url(/img/hero-bg/yacht-bg-bigdesktop@2x.jpg);
    }
  }
}
