
.yachts-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
}

.yachts-list-img{
    border-radius: 24px;
    width: 302px;
    height: 240px;
}

.yachts-list {
    margin-top: 40px;
}

.yachts-list > :not(:first-child){
    display: none;
}

.yachts-list-item {
    max-width: 334px;
    height: 478px;
    background: #fbfbfb;
    border-radius: 24px;
    padding: 16px;
}

.yachts-item-container-top {
    display: flex;
    margin: 32px 16px 0 16px;
}

.yachts-top-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
}

.yachts-top-tex {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
    margin-left: auto;
}

.yachts-item-container-bottom {
    display: flex;
    margin: 32px 16px 0 16px;
}

.carent{
    position: relative;
    color: rgba(4, 3, 6, 0.1);
}

.carent::after{
    content: '';
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 2px;
    background-color: rgba(4, 3, 6, 0.1);
    border-radius: 2px;
}

.yachts-bottom-characteristics-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.yachts-characteristics-item {
}

.yachts-characteristics-item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;

}

.yachts-bottom-value-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.yachts-value-item {
}

.yachts-value-item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.yachts-btn{
    border: 1px solid rgba(251, 251, 251, 0.35);
    background-color: transparent;
    border-radius: 15px;
    width: 141px;
    height: 46px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    font-family: "Inter", sans-serif;
    display: flex;
    margin: 40px auto 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}