.yachts-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
}

.swiper{
    height: 478px;
    margin-top: 40px;
}

.yachts-list-item {
    max-width: 374px;
    height: 100%;
    background: #fbfbfb;
    border-radius: 24px;
    padding: 16px 16px 32px 16px;
}

.yachts-list-img{
    width: 100%;
    height: 240px;
}

.yachts-item-container-top {
    display: flex;
    margin: 32px 16px 0 16px;
}

.yachts-top-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #1b414b;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.yachts-top-tex {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;
    margin-left: auto;
}

.yachts-item-container-bottom {
    display: flex;
    margin: 32px 16px 0 16px;
}

.current{
    position: relative;
    color: rgba(4, 3, 6, 0.1);
}

.current::after{
    content: '';
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 2px;
    background-color: rgba(4, 3, 6, 0.1);
    border-radius: 2px;
}

.yachts-bottom-characteristics-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.yachts-characteristics-item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #040306;
    opacity: 0.4;

}

.yachts-bottom-value-list {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.yachts-value-item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #040306;
}

.yachts-link{
    border: 1px solid rgba(251, 251, 251, 0.35);
    background-color: transparent;
    border-radius: 15px;
    width: 141px;
    height: 46px;
    padding: 14px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    font-family: "Inter", sans-serif;
    display: flex;
    margin: 40px auto 0 auto;
    transition: background-color .7s cubic-bezier(.4, 0, .2, 1), 
    border-radius .7s cubic-bezier(.4, 0, .2, 1),
    color .7s cubic-bezier(.4, 0, .2, 1);
}

.yachts-link:active,
.yachts-link:focus{
    border-radius: 15px;
    background: #fbfbfb;
    color: #1b414b;
}

   /*-----TABLET-----*/

@media screen and (min-width: 768px) {

    .yachts-title {
        font-size: 48px;
        max-width: 645px;
    }

    .swiper{
        height: 508px;
        margin-top: 75px;
    }

    .yachts-list-item{
        width: 336px;
    }

    .yachts-list-img{
        height: 268px;
    }

    .yachts-top-title{
        font-size: 16px;
        line-height: 1.2;
    }

    .yachts-top-tex {
        font-size: 13px;
        line-height: 1.18;
    }

    .yachts-link{
        margin-top: 50px;
        width: 179px;
        height: 52px;
        font-size: 18px;
        line-height: 1.1;
        padding: 16px 38px;
        letter-spacing: -0.02em;
    }
  }

    /*------DESKTOP(1280px)-----*/

@media screen and (min-width: 1280px) {

    .yachts-title {
        font-size: 48px;
        max-width: 714px;
    }

    .yachts-list-item{
        width: 377px;
        max-width: 377px;
    }

    .yachts-top-title{
        width: 177px;
    }

    .yachts-link:hover{
        border-radius: 15px;
        background: #fbfbfb;
        color: #1b414b;
    }
}

    /*------DESKTOP(1440px)-----*/

@media screen and (min-width: 1440px){

    .yachts-list{
        gap: 32px;
        justify-content: center;
    }

    .yachts-list-item{
        width: 392px;
        max-width: 392px;
    }
}
