/* Mobile */
.reviews-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.reviews-paragraph {
  opacity: 0.4;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 40px;
}

.reviews-description {
  border-radius: 24px;
  max-width: 335px;
  height: 282px;
}

.reviews-list-item {
  border-radius: 24px;
  background: rgb(251, 251, 251);
  padding: 32px 16px;
}

.list-title {
  color: rgb(4, 3, 6);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.list-paragraph {
  color: rgba(4, 3, 6, 0.4);
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
}

.list-img {
  margin: 0 auto 24px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
  }

  .reviews-paragraph {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    width: 571px;
    margin: 0 auto 75px;
  }

  .reviews-description {
    max-width: 704px;
  }

  .reviews-list li:nth-last-child(1) {
    display: none;
  }

  .reviews-list {
    display: flex;
    gap: 32px;
  }

  .reviews-list-item {
    width: calc(100% - (32px / 2));
    width: 336px !important;
  }
}

/* Desktop 1280 */
@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
    margin: 0 auto 25px;
  }

  .reviews-paragraph {
    font-size: 14px;
  }

  .reviews-description {
    max-width: 100%;
  }

  .reviews-list li:nth-last-child(1) {
    display: block;
  }

  .reviews-list {
    gap: 26px;
    justify-content: center;
  }

  .reviews-list-item {
    padding: 32px 28px;
    width: calc(100% - (52px / 3));
    width: 376px !important;
  }
}

/* Desktop 1440 */
@media screen and (min-width: 1440px) {
  .reviews-list-item {
    padding: 32px 36px;
    width: 392px !important;
  }

  .reviews-list {
    gap: 32px;
  }
}
